# dependencies
/node_modules

# testing
/coverage
/test-results/
/playwright-report/

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# wrangler scratch (direct-upload deploys)
/.wrangler/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
